<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yugoo.gis.dao.CenterDAO">
    <select id="select" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select * from tb_center where 1=1
        <if test="name != null">
            and `name` like concat('%',#{name},'%')
        </if>
        <if test="groupId != null and groupId != 0">
            and groupId=#{groupId}
        </if>
         order by id desc
    </select>
    <select id="selectCount" resultType="java.lang.Long">
        select count(*) from tb_center where 1=1
        <if test="name != null">
            and `name` like concat('%',#{name},'%')
        </if>
        <if test="groupId != null and groupId != 0">
            and groupId=#{groupId}
        </if>
    </select>
    <select id="selectById" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select * from tb_center where id=#{id}
    </select>
    <select id="selectAll" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select id,`name`,groupId from tb_center where groupId=#{groupId} order by id desc
    </select>
    <select id="selectByGroupId" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select * from tb_center where groupId=#{groupId}
    </select>
    <select id="selectByIds" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select * from tb_center where id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <delete id="deleteById">
        delete from tb_center where id=#{id}
    </delete>
    <select id="selectByName" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select * from tb_center where `name`=#{name}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.yugoo.gis.pojo.po.CenterPO">
        insert into tb_center(`name`,groupId,manager,phone,`position`,district,region,loMax,loMin,laMax,laMin,ctime)
        value(#{name},#{groupId},#{manager},#{phone},#{position},#{district},#{region},#{loMax},#{loMin},#{laMax},#{laMin},now())
    </insert>
    <update id="update" parameterType="com.yugoo.gis.pojo.po.CenterPO">
        update tb_center
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">`name`=#{name},</if>
            <if test="groupId!=null">groupId=#{groupId},</if>
            <if test="manager!=null">manager=#{manager},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="position!=null">`position`=#{position},</if>
            <if test="district!=null">district=#{district},</if>
            <if test="region!=null">region=#{region},</if>
            loMax=#{loMax},
            loMin=#{loMin},
            laMax=#{laMax},
            laMin=#{laMin},
        </trim>
        where id=#{id}
    </update>
</mapper>