<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yugoo.gis.dao.CenterDAO">
    <select id="select" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select * from tb_center where 1=1
        <if test="groupId != null and groupId != 0">
            and groupId in (#{groupId},0)
        </if>
        <if test="name != null">
            and `name` like concat('%',#{name},'%')
        </if>
         order by id desc
    </select>
    <select id="selectCount" resultType="java.lang.Long">
        select count(*) from tb_center where 1=1
        <if test="groupId != null and groupId != 0">
            and groupId in (#{groupId},0)
        </if>
        <if test="name != null">
            and `name` like concat('%',#{name},'%')
        </if>
    </select>
    <select id="selectById" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select * from tb_center where id=#{id}
    </select>
    <select id="selectAll" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select id,`name`,groupId from tb_center where groupId=#{groupId} order by id desc
    </select>
    <select id="selectByGroupId" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select * from tb_center where groupId=#{groupId}
    </select>
    <select id="selectByIds" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select * from tb_center where id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <delete id="deleteById">
        delete from tb_center where id=#{id}
    </delete>
    <select id="selectByName" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select * from tb_center where `name`=#{name}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.yugoo.gis.pojo.po.CenterPO">
        insert into tb_center(`name`,groupId,manager,phone,`position`,district,region,loMax,loMin,laMax,laMin,ctime)
        value(#{name},#{groupId},#{manager},#{phone},#{position},#{district},#{region},#{loMax},#{loMin},#{laMax},#{laMin},now())
    </insert>
    <update id="update" parameterType="com.yugoo.gis.pojo.po.CenterPO">
        update tb_center
        <trim prefix="set" suffixOverrides=",">
            `name`=#{name},
            groupId=#{groupId},
            manager=#{manager},
            phone=#{phone},
            `position`=#{position},
            district=#{district},
            region=#{region},
            loMax=#{loMax},
            loMin=#{loMin},
            laMax=#{laMax},
            laMin=#{laMin},
        </trim>
        where id=#{id}
    </update>
    <select id="selectLikeName" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select * from tb_center where `name` like concat('%',#{name},'%')
    </select>
    <select id="selectFromMap" resultType="com.yugoo.gis.pojo.po.CenterPO">
        select * from tb_center
        where 1=1
        and loMax between #{loMin} and #{loMax}
        and loMin between #{loMin} and #{loMax}
        and laMax between #{laMin} and #{laMax}
        and laMin between #{laMin} and #{laMax}
        <if test="groupId != null and groupId != 0">
            and groupId in (#{groupId},0)
        </if>
        and `name` like concat('%',#{name},'%')
        <if test="limit != null">
            limit #{limit}
        </if>
    </select>
    <select id="selectIdByGroupIdAndLikeName" resultType="java.lang.Integer">
        select id from tb_center where 1=1
        <if test="id != null">
            and id=#{id}
        </if>
        <if test="groupId != null">
            and groupId=#{groupId}
        </if>
        <if test="name != null">
            and `name` like concat('%',#{name},'%')
        </if>
    </select>
</mapper>