<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yugoo.gis.dao.ConsumerDAO">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.yugoo.gis.pojo.po.ConsumerPO">
        insert into tb_consumer(`name`,buildingId,floor,`number`,`position`,pic,category,nature,peopleNum,linkman,
        phone,operator,expenses,expirationDate,bandwidth,serviceType,status,legal,lineNum,lineType,
        lineOpenDate,lineStatus,groupCode,groupGrade,userId,`type`,longitude,latitude,ctime,
        expensesName,orderTime,memberRole,memberRoleRealNum,memberExpensesName)
        values(#{name},#{buildingId},#{floor},#{number},#{position},#{pic},#{category},#{nature},#{peopleNum},#{linkman},
        #{phone},#{operator},#{expenses},#{expirationDate},#{bandwidth},#{serviceType},#{status},#{legal},#{lineNum},#{lineType},
        #{lineOpenDate},#{lineStatus},#{groupCode},#{groupGrade},#{userId},#{type},#{longitude},#{latitude},now(),
        #{expensesName},#{orderTime},#{memberRole},#{memberRoleRealNum},#{memberExpensesName})
    </insert>
    <select id="selectByName" resultType="com.yugoo.gis.pojo.po.ConsumerPO">
        select id,`name` from tb_consumer where `name`=#{name}
    </select>
    <select id="select" resultType="com.yugoo.gis.pojo.po.ConsumerPO">
        select id,`name`,buildingId,floor,`number`,`position`,category,nature,peopleNum,linkman,
        phone,operator,expenses,expirationDate,bandwidth,serviceType,status,legal,lineNum,lineType,
        lineOpenDate,lineStatus,groupCode,groupGrade,userId,`type`,longitude,latitude,ctime,
        expensesName,orderTime,memberRole,memberRoleRealNum,memberExpensesName from tb_consumer
        where 1=1
        <if test="buildingIds != null">
            and buildingId in
            <foreach item="item" index="index" collection="buildingIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="userIds != null and userIds.size() > 0">
            and userId in
            <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="name != null">
            and `name` like concat('%',#{name},'%')
        </if>
        order by id desc
    </select>
    <select id="selectCount" resultType="java.lang.Long">
        select count(1) from tb_consumer
        where 1=1
        <if test="buildingIds != null">
            and buildingId in
            <foreach item="item" index="index" collection="buildingIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="userIds != null and userIds.size() > 0">
            and userId in
            <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="name != null">
            and `name` like concat('%',#{name},'%')
        </if>
    </select>
    <select id="selectById" resultType="com.yugoo.gis.pojo.po.ConsumerPO">
        select * from tb_consumer where id=#{id}
    </select>
    <select id="selectExePicById" resultType="com.yugoo.gis.pojo.po.ConsumerPO">
        select `name`,buildingId,floor,`number`,`position`,category,nature,peopleNum,linkman,
        phone,operator,expenses,expirationDate,bandwidth,serviceType,status,legal,lineNum,lineType,
        lineOpenDate,lineStatus,groupCode,groupGrade,userId,`type`,longitude,latitude,ctime,
        expensesName,orderTime,memberRole,memberRoleRealNum,memberExpensesName from tb_consumer where id=#{id}
    </select>
    <update id="update" parameterType="com.yugoo.gis.pojo.po.ConsumerPO">
        update tb_consumer
        <trim prefix="set" suffixOverrides=",">
            `name`=#{name},
            buildingId=#{buildingId},
            floor=#{floor},
            `number`=#{number},
            `position`=#{position},
            <if test="pic!=null">pic=#{pic},</if>
            category=#{category},
            nature=#{nature},
            peopleNum=#{peopleNum},
            linkman=#{linkman},
            phone=#{phone},
            operator=#{operator},
            expenses=#{expenses},
            expirationDate=#{expirationDate},
            bandwidth=#{bandwidth},
            serviceType=#{serviceType},
            status=#{status},
            legal=#{legal},
            lineNum=#{lineNum},
            lineType=#{lineType},
            lineOpenDate=#{lineOpenDate},
            lineStatus=#{lineStatus},
            groupCode=#{groupCode},
            groupGrade=#{groupGrade},
            userId=#{userId},
            `type`=#{type},
            longitude=#{longitude},
            latitude=#{latitude},
            expensesName=#{expensesName},
            orderTime=#{orderTime},
            memberRole=#{memberRole},
            memberRoleRealNum=#{memberRoleRealNum},
            memberExpensesName=#{memberExpensesName}
        </trim>
        where id=#{id}
    </update>
    <delete id="deleteById">
        delete from tb_consumer where id=#{id}
    </delete>
    <select id="selectCountByBuildingId" resultType="java.lang.Long">
        select count(1) from tb_consumer where buildingId=#{buildingId}
    </select>
    <update id="updateLoAndLaByBuildingId">
        update tb_consumer set longitude=#{longitude},latitude=#{latitude} where buildingId=#{buildingId}
    </update>
    <select id="selectFromMap" resultType="com.yugoo.gis.pojo.po.ConsumerPO">
        select id,`name`,buildingId,floor,`number`,`position`,category,nature,peopleNum,linkman,
        phone,operator,expenses,expirationDate,bandwidth,serviceType,status,legal,lineNum,lineType,
        lineOpenDate,lineStatus,groupCode,groupGrade,userId,`type`,longitude,latitude,ctime,
        expensesName,orderTime,memberRole,memberRoleRealNum,memberExpensesName
        from tb_consumer
        where 1=1
        <if test="buildingIds != null">
            and buildingId in
            <foreach item="item" index="index" collection="buildingIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="userIds != null and userIds.size() > 0">
            and userId in
            <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        and longitude between #{loMin} and #{loMax}
        and latitude between #{laMin} and #{laMax}
        and `name` like concat('%',#{name},'%')
    </select>
    <select id="selectByCenter" resultType="com.yugoo.gis.pojo.po.ConsumerPO">
        select id,`name`,`type`,serviceType,longitude,latitude from tb_consumer
        where longitude between #{loMin} and #{loMax}
        and latitude between #{laMin} and #{laMax}
    </select>
    <insert id="batchInsert">
        insert into tb_consumer (`name`,buildingId,floor,`number`,`position`,pic,category,nature,peopleNum,linkman,
        phone,operator,expenses,expirationDate,bandwidth,serviceType,status,legal,lineNum,lineType,
        lineOpenDate,lineStatus,groupCode,groupGrade,userId,`type`,longitude,latitude,ctime,
        expensesName,orderTime,memberRole,memberRoleRealNum,memberExpensesName)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.name},#{item.buildingId},#{item.floor},#{item.number},#{item.position},#{item.pic},#{item.category},#{item.nature},#{item.peopleNum},#{item.linkman},
            #{item.phone},#{item.operator},#{item.expenses},#{item.expirationDate},#{item.bandwidth},#{item.serviceType},#{item.status},#{item.legal},#{item.lineNum},#{item.lineType},
            #{item.lineOpenDate},#{item.lineStatus},#{item.groupCode},#{item.groupGrade},#{item.userId},#{item.type},#{item.longitude},#{item.latitude},now(),
            #{item.expensesName},#{item.orderTime},#{item.memberRole},#{item.memberRoleRealNum},#{item.memberExpensesName})
        </foreach>
        ON DUPLICATE KEY UPDATE
        <trim prefix="" suffixOverrides=",">
            buildingId = VALUES(buildingId),
            floor = VALUES(floor),
            `number` = VALUES(`number`),
            `position` = VALUES(`position`),
            pic = VALUES(pic),
            category = VALUES(category),
            nature = VALUES(nature),
            peopleNum = VALUES(peopleNum),
            linkman = VALUES(linkman),
            phone = VALUES(phone),
            operator = VALUES(operator),
            expenses = VALUES(expenses),
            expirationDate = VALUES(expirationDate),
            bandwidth = VALUES(bandwidth),
            serviceType = VALUES(serviceType),
            status = VALUES(status),
            legal = VALUES(legal),
            lineNum = VALUES(lineNum),
            lineType = VALUES(lineType),
            lineOpenDate = VALUES(lineOpenDate),
            lineStatus = VALUES(lineStatus),
            groupCode = VALUES(groupCode),
            groupGrade = VALUES(groupGrade),
            userId = VALUES(userId),
            `type` = VALUES(`type`),
            longitude = VALUES(longitude),
            latitude = VALUES(latitude),
            expensesName = VALUES(expensesName),
            orderTime = VALUES(orderTime),
            memberRole = VALUES(memberRole),
            memberRoleRealNum = VALUES(memberRoleRealNum),
            memberExpensesName = VALUES(memberExpensesName),
            ctime = now(),
        </trim>
    </insert>
</mapper>