<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yugoo.gis.dao.ResourceDAO">
    <select id="selectPathByRoleId" resultType="com.yugoo.gis.pojo.po.ResourcePO">
        select b.path from tb_role2resource a,tb_resource b
        where a.resourceId=b.id and a.roleId=#{roleId}
    </select>
</mapper>