<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yugoo.gis.dao.ResourceDAO">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.yugoo.gis.pojo.po.ResourcePO">
        insert into tb_resource(buildingId,district,cityName,streetName,villageName,admStreetName,zoneName,floor,`number`,
        allPortCount,idelPortCount,sceneA,sceneB,overlayScene,longitude,latitude,ctime)
        values(#{buildingId},#{district},#{cityName},#{streetName},#{villageName},#{admStreetName},#{zoneName},
        #{floor},#{number},#{allPortCount},#{idelPortCount},
        #{sceneA},#{sceneB},#{overlayScene},#{longitude},#{latitude},now())
    </insert>
    <update id="update" parameterType="com.yugoo.gis.pojo.po.ResourcePO">
        update tb_resource
        <trim prefix="set" suffixOverrides=",">
            `buildingId`=#{buildingId},
            `district`=#{district},
            cityName=#{cityName},
            streetName=#{streetName},
            villageName=#{villageName},
            admStreetName=#{admStreetName},
            zoneName=#{zoneName},
            `floor`=#{floor},
            `number`=#{number},
            `allPortCount`=#{allPortCount},
            `idelPortCount`=#{idelPortCount},
            `sceneA`=#{sceneA},
            `sceneB`=#{sceneB},
            `overlayScene`=#{overlayScene},
            longitude=#{longitude},
            latitude=#{latitude},
        </trim>
        where id=#{id}
    </update>
    <select id="select" resultType="com.yugoo.gis.pojo.po.ResourcePO">
        select * from tb_resource where 1=1
        <if test="buildingId != null and buildingId != 0">
            and buildingId=#{buildingId}
        </if>
        order by id desc
    </select>
    <select id="selectCount" resultType="java.lang.Long">
        select count(*) from tb_resource where 1=1
        <if test="buildingId != null and buildingId != 0">
            and buildingId=#{buildingId}
        </if>
    </select>
    <select id="selectByBuildingIdAndFloorAndNumber" resultType="com.yugoo.gis.pojo.po.ResourcePO">
        select * from tb_resource where buildingId=#{buildingId}
        and `floor`=#{floor} and `number`=#{number}
        and longitude=#{longitude} and latitude=#{latitude}
    </select>
    <delete id="delete">
        delete from tb_resource where id=#{id}
    </delete>
    <select id="selectCountByBuildingId" resultType="java.lang.Long">
        select count(1) from tb_resource where buildingId=#{buildingId}
    </select>
    <update id="updateLoAndLaByBuildingId">
        update tb_resource set longitude=#{longitude},latitude=#{latitude} where buildingId=#{buildingId}
    </update>
    <insert id="batchInsert">
        insert into tb_resource (buildingId,district,cityName,streetName,villageName,admStreetName,zoneName,
        floor,`number`,allPortCount,idelPortCount,sceneA,sceneB,overlayScene,longitude,latitude,ctime)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.buildingId},#{item.district},#{item.cityName},#{item.streetName},#{item.villageName},#{item.admStreetName},#{item.zoneName},
            #{item.floor},#{item.number},#{item.allPortCount},#{item.idelPortCount},
            #{item.sceneA},#{item.sceneB},#{item.overlayScene},#{item.longitude},#{item.latitude},now())
        </foreach>
        ON DUPLICATE KEY UPDATE
        <trim prefix="" suffixOverrides=",">
            district = VALUES(district),
            cityName = VALUES(cityName),
            streetName = VALUES(streetName),
            villageName = VALUES(villageName),
            admStreetName = VALUES(admStreetName),
            zoneName = VALUES(zoneName),
            allPortCount = VALUES(allPortCount),
            idelPortCount = VALUES(idelPortCount),
            sceneA = VALUES(sceneA),
            sceneB = VALUES(sceneB),
            overlayScene = VALUES(overlayScene),
            ctime = now(),
        </trim>
    </insert>
    <select id="selectByCenter" resultType="com.yugoo.gis.pojo.po.ResourcePO">
        select id,allPortCount,idelPortCount,longitude,latitude from tb_resource
        where longitude between #{loMin} and #{loMax}
        and latitude between #{laMin} and #{laMax}
    </select>
    <select id="selectByBuildingIds" resultType="com.yugoo.gis.pojo.po.ResourcePO">
        select id,buildingId,floor,`number`,
        allPortCount,idelPortCount,sceneA,sceneB,overlayScene,longitude,latitude
        from tb_resource where buildingId in
        <foreach collection="buildingIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectById" resultType="com.yugoo.gis.pojo.po.ResourcePO">
        select * from tb_resource where id=#{id}
    </select>
</mapper>