<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yugoo.gis.dao.UserDAO">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.yugoo.gis.pojo.po.UserPO">
        insert into tb_user(`name`,phone,password,role,department,groupId,centerId,`key`,`number`,post,ctime)
        values(#{name},#{phone},#{password},#{role},#{department},#{groupId},#{centerId},#{key},#{number},#{post},now())
    </insert>
    <update id="update" parameterType="com.yugoo.gis.pojo.po.UserPO">
        update tb_user
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">`name`=#{name},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="role!=null">role=#{role},</if>
            <if test="department!=null">department=#{department},</if>
            <if test="groupId!=null">groupId=#{groupId},</if>
            <if test="centerId!=null">centerId=#{centerId},</if>
            <if test="key!=null">`key`=#{key},</if>
            <if test="number!=null">`number`=#{number},</if>
            <if test="post!=null">`post`=#{post},</if>
        </trim>
        where id=#{id}
    </update>
    <select id="select" resultType="com.yugoo.gis.pojo.po.UserPO">
        select * from tb_user where 1=1
        <if test="id != null">
            and id=#{id}
        </if>
        <if test="phone != null">
            and phone=#{phone}
        </if>
         <if test="name != null">
             and `name` like concat('%',#{name},'%')
         </if>
         order by id desc
    </select>
    <select id="selectCount" resultType="java.lang.Long">
        select count(1) from tb_user where 1=1
        <if test="id != null">
            and id=#{id}
        </if>
        <if test="phone != null">
            and phone=#{phone}
        </if>
        <if test="name != null">
            and `name` like concat('%',#{name},'%')
        </if>
    </select>
    <select id="selectByPhone" resultType="com.yugoo.gis.pojo.po.UserPO">
        select * from tb_user where phone=#{phone}
    </select>
    <select id="selectById" resultType="com.yugoo.gis.pojo.po.UserPO">
        select * from tb_user where id=#{id}
    </select>
    <delete id="deleteById">
        delete from tb_user where id=#{id}
    </delete>
    <select id="selectManager" resultType="com.yugoo.gis.pojo.po.UserPO">
        select id,`name`,phone from tb_user where groupId=#{groupId} and role=2
    </select>
    <select id="selectByGroupId" resultType="com.yugoo.gis.pojo.po.UserPO">
        select * from tb_user where groupId=#{groupId}
    </select>
    <select id="selectByCenterId" resultType="com.yugoo.gis.pojo.po.UserPO">
        select * from tb_user where centerId=#{centerId}
    </select>
    <select id="selectByIds" resultType="com.yugoo.gis.pojo.po.UserPO">
        select * from tb_user where id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectByNumber" resultType="com.yugoo.gis.pojo.po.UserPO">
        select * from tb_user where `number`=#{number}
    </select>
    <select id="selectSubordinates" resultType="com.yugoo.gis.pojo.po.UserPO">
        select * from tb_user where role=3
        <if test="groupId != null">
            and groupId=#{groupId}
        </if>
        <if test="searchParam != null">
            and (`number`=#{searchParam} or `name` like concat('%',#{searchParam},'%'))
        </if>
    </select>
    <select id="selectByNameAndRole" resultType="com.yugoo.gis.pojo.po.UserPO">
        select id,`name`,centerId from tb_user where 1=1
        <if test="name != null">
            and `name` like concat('%',#{name},'%')
        </if>
        <if test="role != null">
            and role=#{role}
        </if>
    </select>
    <select id="selectIdByCenterIdsAndRole" resultType="java.lang.Integer">
        select id from tb_user where 1=1
        <if test="centerIds != null">
            and centerId in
            <foreach collection="centerIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="role != null">
            and role=#{role}
        </if>
    </select>
</mapper>